@import url(header.css);
header{
    position: fixed;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255,250,229,1) 95%);
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.return-home{
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: fixed;
    top: 36px;
    left: 36px;
  
    background-color: #DE89A1;
    width: 128px;
    height: 48px;
  
    border-radius: 12px;
    box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.1);

    z-index: 10;
  }
  
  .return-home:hover{
    background-color: #d76686;
  }

  .return-home > span{
    display: flex;
    align-items: center;
    text-decoration: none !important;
}

a{
    text-decoration:none;
    font-size: 18px;
    font-weight: 700;
}

.return-home > span *{
    color: white;
}
/* 
.body-container{
    
} */