

.card-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;

    box-sizing: border-box;
}

.card {
    flex-grow: 1;
    min-width: 272px;
    max-width: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    /* width: 300px; */
    height: 240px;
    border: transparent;
    border-radius: 10px;

}
.card:hover{
    cursor: pointer;
    background-color: #e7e7e7;
}

.card > img {
    min-width: 100%;

    max-height: 150px;
    min-height: 120px;
    background-color: #9888C6;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.card-detail {
    padding: 16px 16px 8px 16px;
    display: flex;
    flex-direction: column;
}

.card-detail-location {
    /* margin-top: 14px; */
    padding: 4px 16px;
    border-radius: 16px;
    background-color: #9888C6;
    color: white;
}
.card-detail-name {
    margin-top: 12px;
}

.average-star-box{
    padding-left: 16px;
    display: flex;
    color: #DE89A1;
}

.average-star-num{
    margin-left: 4px;
}
