.chat-room-list{
    flex: 2;
    background-color: antiquewhite;
    overflow-y: scroll;
    height: 60vh;
}

.message-list{
    display: flex;
    flex-direction: column-reverse;

    flex: 6;
    overflow-y: scroll;
    background-color: aqua;
}
.message-container{
    flex: 6;
    overflow-y: scroll;
}

.chat-room{
    border: 1px solid black;
}
.message-box{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.message-box *{
    margin-left: 8px;
}

.message-timestamp{
    font-weight: 100;
}
.message-sender{
    font-weight: 800;
}

.message-text{
    font-weight: 400;
}

.send-placeholder{
    height: 64px;
    width: calc(100% - 80px);
}

.send-btn{
    margin: 0;
    width: 64px;
    height: 100%;
}