.chat-room-list{
    overflow-y: scroll;
}

.chat-topic{
    box-sizing: border-box;
    width: 32.77vw;
    padding: 24px 0 24px 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.chat-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat-page > h3{
    position: absolute;
    left: 100px;
    top : 118px;
}
.chat-zone{
    height: 70vh;
    width: 33vw;
    border-right: solid 1px #E0E0E0;
}
.chat-username{
    font-size: 16px;
    font-weight: bold;
}
.chat-latest-msg{
    font-size: 14px;
    padding-right: 32px;
    box-sizing: border-box;
    width: 375px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  
}
.chat-timestamp{
    font-size: 14px;
}

.message-list{
    padding-top: 24px;
    padding-bottom: 12px;
    overflow-y: scroll;
    /* display: flex; */
    /* flex-direction:column; */
    height: 100%;
    /* overflow-y: scroll; */
    /* justify-content: end; */
    width: 100%;
    overflow-x: hidden;
}
.message-container{
    overflow-x: hidden;
    /* display: none; */
    height: 70vh;
    width: 100%;
}

.chat-room{
    display: flex;
    padding-left: 16px;
    height: 64px;
    padding: 10px 0 10px 16px;
}

.chat-room:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.chat-room > img{
    border-radius: 100%;
    background-color: aquamarine;
    width: 64px;
    height: 64px;
}

.chat-detail{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.message-chat-current{
    height: 90.93px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.message-current-pic{
    display: flex;
    width: 42px;
    height: 42px;
    background-color: #d76686;
    border-radius: 100%;
    margin-left: 24px;
}
.message-current-name{
    font-size: 16px;
    padding-left: 14px;
    font-weight: bold;
}

.message-box{
    display: flex;
    height: 24px;
    flex-direction: row;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    /* margin-bottom: 1px; */

}
/* .message-box *{
} */

.message-timestamp{
    margin-left: 24px;
    font-weight: 100;
    color: #8f8f8f;
    font-size: 10px;
    align-items: center;
    display: flex;
}
.message-sender{
    margin-left: 12px;
    font-weight: 800;
}

.message-text{
    margin-left: 8px;
    font-weight: 400;
}

.send-message{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 64px;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
}
.send-placeholder{
    margin-left: 8px;
    height: 16px;
    border-radius: 32px;
    padding: 8px 32px;
    width: calc(100% - 160px);
    border: 1px solid #DE89A1;
}

.send-placeholder:focus{
    border: 1px solid #d76686;
    outline: 1px solid #d76686;
}

.send-btn{
    margin: 0;
    width: 64px;
    height: 36px;
    border-radius: 8px;
    background-color: #DE89A1;
    border: transparent;
    color: white;
}

.send-btn:hover{
    background-color: #d76686;
    cursor: pointer;
}