@import url(header.css);
@import url(font.css);

body{
    height: 100vh;
    background: linear-gradient(0deg, #ffffff 20%, rgba(255,250,229,1) 95%);
    background-repeat: no-repeat;
}

.leaderboard{
    position: absolute;
    top: 206px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: calc(100vw - 200px);
    height: 70vh;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0,0.1);
    border-radius: 4px;
    padding: 32px 64px;
}

h1{
    position: absolute;
    left: 100px;
    top: 118px;
}

.leaderboard > .ranking-mate-box:nth-child(1){
    background-color: rgb(211, 202, 153);
}

.leaderboard > .ranking-mate-box:nth-child(2){
    background-color: rgb(203, 200, 200);
}

.leaderboard > .ranking-mate-box:nth-child(3){
    background-color: rgb(229, 175, 175);
}


.leaderboard > .ranking-mate-box:nth-child(1):hover{
    background-color: rgb(240, 235, 210);
}

.leaderboard > .ranking-mate-box:nth-child(2):hover{
    background-color: rgb(236, 229, 229);
}

.leaderboard > .ranking-mate-box:nth-child(3):hover{
    background-color: rgb(216, 190, 190);
}
.ranking-mate-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 9%;
    margin-bottom: 4px;
    padding: 8px 16px;
    box-sizing: border-box;
    align-items: center;
    height: 42px;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.ranking-mate-box:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.ranking-mate-box > :nth-child(1){
    width: 128px;
}
.ranking-mate-box > :nth-child(2){
    width: 340px;
}
.ranking-mate-box > :nth-child(3){
    width: 36px;
    border-radius: 100%;
    margin-right: 128px;
}
.ranking-mate-box > :nth-child(4){
    width: 144px;
}
.ranking-mate-box > :nth-child(5){
    display: flex;
    text-align: center;
    width: 196px;
}


.leaderboard-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
.ranking{
    flex: 1;
}
.mate-score{
    flex: 1;
}
.mate-detail{
    display: flex;
    justify-content: space-between;
    flex: 3;
}

.leaderboard-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 24px;
    aspect-ratio: 1/1;
} */