
@import url(font.css);
.logo{
    margin-left: 10%;
    width: 60px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    height: 54px;
    width: 100%;
    background-color: white;
    border-radius: 0 0 12px 12px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    
}

.nav-items {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    
}


.nav-items a{
    padding: calc(1rem + 0.5px);
    font-size: 18px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: black;
    text-decoration: none;

}

.nav-items div{
    margin-left: 100px;
    text-align: center;
    background-color: transparent;
    border: 0;
}

.login {
    width: 60%;
    background-color: rgba(255, 0, 0, 0.2);
    border: 0;
}

.user{
    text-decoration:none;
    font-style: normal;
    color: black;
}

.nav-items a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.sub-items{
    background-color: yellow;
}