@import url(nav.css);
@import url(content.css);
* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Mono", monospace;
}

body{
    display: flex;
    justify-content: center;

    background-color: #FFFAE5;
}

.main{
    display: flex;
    flex-direction: column;

    margin-top: calc(72px + 80px);
    background-color: red;
    width: calc(100vw - 200px);
}

h1{
    font-size: 42px;
}