<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/booking.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prompt:wght@300;400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sunflower:wght@300&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <h1 id="name-text">test</h1>
    <p id="location-text">กรุงเทพ</p>
    <p id="price-text">1000</p>
    <div id="availability-content">
        <p id="availability-text">10-3-4</p>
    </div>
    <button id="book-btn">Book</button>
    <button id="pay-btn">Pay</button>
    <div id="review-content">
        <div>
            <p id="review-text">Review</p>
            <p id="start-text">5</p>
            <p id="time-text">timestamp</p>
        </div>
    </div>
    <script src="../script/book.js"></script>
</body>

</html>