<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../style/style.css" />
        <link rel="stylesheet" href="../style/chat.css" />
        <!-- <script src="../script/script.js"></script> -->
        <title>Document</title>
    </head>
    <body>
        <nav>
            <img class="logo" src="../img/logo.svg" alt="../img/logo.svg" />
            <div class="nav-items">
                <a href="index.html"><button>Home</button></a>
                <a href="mate.html"><button>Mates</button></a>
                <a href="chat.html"><button>Chat</button></a>
                <a href="post.html"><button>Post</button></a>
                <div class="nav-items center" id="user-account">
                    <!-- <h1>kanyok</h1> -->
                    <a class="login" href=""><button>Login</button></a>
                    <a class="login" href=""><button>Register</button></a>
                </div>
            </div>
        </nav>
        <div class="center">
            <div class="row-container" style="margin-top: 128px; width: 80%;">
                <div id="chat-room-list" class="chat-room-list column-container">
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                    <div class="chat-room" id="chat-room">
                        <img src="" alt="pic">
                        <div class="chat-detail">
                            <div id="chat-username" class="chat-username">
                                Kanyokdebateyourdense
                            </div>
                            <div id="chat-timestamp" class="chat-timestamp">
                                Wed 13th July 2024
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-container message-container">
                    <div id="message-list" class="message-list">
                        <div class="message-box">
                            <div class="message-timestamp">00:00</div>
                            <div class="message-sender">kanyok</div>
                            <div class="message-text">ท้อว่ะ</div>
                        </div>
                    </div>
                    <div class="send-message">
                        <input
                            class="send-placeholder"
                            type="text"
                            id="message-input"
                            name="textbox"
                            placeholder="ส่งข้อความ"
                        />
                    <button id="send-btn" class="send-btn" type="submit" onclick="sendMessage()">send</button>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </body>
</html>
