<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="shortcut icon" href="http://sstatic.net/so/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <script src="../script/script.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- <div class="navbar">
        <div class="nav-title">
          <img src="" alt="Logo.png" />
        </div>
        <div class="nav-items">
          <div>Home</div>
          <div>Book Mate</div>
          <div>Chat</div>
          <div>Post</div>
          <div>Portfolio</div>
        </div>
      </div> -->
      <nav>
        <div class="nav-title">
          <img class="logo" src="../img/logo.svg" alt="../img/logo.svg" />
        </div>
        <div class="nav-items">
          <button>Home</button>
          <button>Mates</button>
          <button>Chat</button>
          <button>Post</button>
          <button>Portfolio</button>
        </div>
      </nav>

      <div class="content">
        <div class="a-content">
          <div class="a-side">
            <div class="title">พบปะเพื่อนใหม่ได้ที่ Rent A Mate</div>
            <div class="sub-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
              odio illo accusamus dolores placeat perferendis quis obcaecati
              eveniet accusantium voluptatibus veritatis deleniti. Fugiat sed
              nesciunt quaerat laborum harum adipisci quo!
            </div>
            <button class="matn-btn">Book Mate</button>
          </div>
          <div class="b-side">
            <img src="../img/pic1.svg" alt="Profile-Pic" />
          </div>
        </div>

        <div class="search">
          <div class="sub-title">ค้นหาเพื่อนใหม่</div>
          <div class="sub-search">
            <input
              type="text"
              id="mate-name"
              name="textbox"
              placeholder="ค้นหาโดยชื่อ"
            />
            <input
              type="text"
              id="mate-location"
              name="textbox"
              placeholder="ค้นหาโดยสถานที่"
            />
            <label>
              <input type="checkbox" name="gender" value="male" />
              Male
            </label>
            <label>
              <input type="checkbox" name="gender" value="female" />
              Female
            </label>
            <input
              type="number"
              id="quantity"
              name="quantity"
              min="0"
              value="0"
            />
            <button onclick="increaseValue()">▲</button>
            <button onclick="decreaseValue()">▼</button>
            <button onclick="getMates()">Search</button>
          </div>
        </div>

        <div class="display-container">
          <div class="sub-title">Super Star</div>
          <ul id="card-list"></ul>
        </div>
      </div>
    </div>
  </body>
</html>
